{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} rise-{{foo}}" data-template="base.twig">
		<header class="header" >
			{% block header %}
				<div class="wrapper container">
					<div class="col-md-4">
						<nav id="nav-main" class="nav-main" role="navigation">
							{% include "menu.twig" with {'menu': menu.get_items} %}
						</nav><!-- #nav -->
					</div>

					<div class="col-md-4">
						<h1 class="hdr-logo" role="banner">
							<a class="hdr-logo-link" href="/" rel="home">{{site.name}}</a>
						</h1>
					</div>

					<div class="col-md-2 text-center">
						<nav id="nav-main" class="nav-main" role="navigation">
							{% include "menu-right.twig" with {'menu': menu_right.get_items} %}
						</nav><!-- #nav -->
					</div>

					<div class="col-md-2">
						<ul class="social-block pull-left">
							<li>
								<span class="icon"> <i class="fa fa-twitter" aria-hidden="true"></i></span>
							</li>
							<li>
								<span class="icon"> <i class="fa fa-facebook" aria-hidden="true"></i></span>
							</li>
						</ul>

					</div>



				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
